/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;400;700&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3efea;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

/* Menu Card Styling */
.menu-card {
    background-color: #fff;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    text-align: center;
}

/* Header Styling */
.menu-header {
    margin-bottom: 15px;
}

.menu-header h1 {
    font-family: 'Lobster', cursive;
    font-size: 8rem;
    color: #b48b58;
}

.menu-header p {
    font-size: 1rem;
    color: #9a6b3a;
}

/* Menu Items Styling */
.menu-items {
    text-align: left;
}

.menu-section {
    margin-bottom: 20px;
}

.menu-section h2 {
    font-size: 1.5rem;
    color: #b48b58;
    margin-bottom: 10px;
    border-bottom: 2px solid #e1d5c9;
    padding-bottom: 5px;
}

/* Menu List Items */
.menu-section ul {
    list-style: none;
    padding: 0;
}

.menu-section li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px dashed #e1d5c9;
}

.item-name {
    font-weight: 400;
    font-size: 1rem;
    color: #5a4637;
}

.item-price {
    font-weight: 700;
    font-size: 1rem;
    color: #5a4637;
}
